@{ 
    Layout = null;
}

<html>
<head>
    <title>Routing</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <br /><br />
    </div>

</body>
</html>
